<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div class="main_nav_bottom " id="menuid">
    <nav class="navbar navbar-default navbar-fixed-bottom ">
        <div class="container " align="center ">
            <ul class="nav nav-tabs nav-tabs-justified ">
                <div class="row " align="center ">
                    <div class="col-md-4 col-sm-4 col-xs-4 " align="center " style="padding-top: 8px; ">
                        <li>
										<span style="color: red;">
											<div class="row " style="font-size: 20px; ">
												<span class="glyphicon glyphicon-home " aria-hidden="true "></span>
								</div>
								<div class="row ">首页</div>
								</span>
                        </li>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 " align="center " style="padding-top: 8px; ">
                        <li>
									<span onclick="location.href='/cart/select'">
											<div class="row " style="font-size: 20px; ">
												<span class="glyphicon glyphicon-shopping-cart "
                                                      aria-hidden="true "></span>
							</div>
							<div class="row ">选号</div>
							</span>
                        </li>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 " align="center " style="padding-top: 8px; ">
                        <li>
							<span  onclick="location.href='/user/myUI'">
											<div class="row " style="font-size: 20px; ">
												<span class="glyphicon glyphicon-user " aria-hidden="true "></span>
					</div>
					<div class="row ">我的</div>
					</span>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>