<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>黑马彩票</title>
    <meta charset="UTF-8">
    <!--导入bootstrap.css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!--注意：导入jquery.js-->
    <script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
    <!--导入bootstrap.js-->
    <script type="text/javascript" src="/js/bootstrap.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--导入css样式-->
    <link rel="stylesheet" href="/css/bocai.css" />
    
    <script>
        function buy(key) {

            location.href="/cart/buyOne?key="+key;
        }
    </script>
</head>

<body>
<div class="container-fluid">
    <!--标题栏页面-->
    <div class="row">
        <div class="col-xs-12 title">黑马彩票</div>
    </div>

    <!--用户信息栏-->
    <div class="row">
        <div class="col-xs-4">
            <img src="/img/icon.png" alt="" class="img-circle img-thumbnail" style="width:80px;height:80px" />
        </div>
        <div class="col-xs-8" style="padding-top: 22px;padding-left: 5px;">
            <p style="font-size: 16px;" th:text="${session.user.username}"></p>
            <p style="font-size: 14px;" th:text="|手机号:${session.user.phone}|"></p>
        </div>
    </div>

    <!--水平分割线-->
    <hr />

    <!--今日幸运中奖号码-->
    <div class="row">
        <div class="col-xs-12" style="color: red;margin-bottom: 9px;">
            您今日幸运中奖号码为:
        </div>

        <div class="col-xs-12 text-center" style="height:49px;">
            <div class="ball-item ball-item-red" th:text="${red.split(',')[0]}">01</div>
            <div class="ball-item ball-item-red" th:text="${red.split(',')[1]}">03</div>
            <div class="ball-item ball-item-red" th:text="${red.split(',')[2]}">08</div>
            <div class="ball-item ball-item-red" th:text="${red.split(',')[3]}">12</div>
            <div class="ball-item ball-item-red" th:text="${red.split(',')[4]}">23</div>
            <div class="ball-item ball-item-red" th:text="${red.split(',')[5]}">29</div>
            <div class="ball-item ball-item-blue" th:text="${blue}">15</div>
        </div>

        <div class="col-xs-offset-7 col-xs-2">
            <button class="btn btn-default"  th:onclick="|buy('${red}-${blue}')|">购买立中大奖</button>
        </div>
    </div>

    <!--水平分割线-->
    <hr />

    <!--累计中奖次数-->
    <div class="row">
        <div class="col-xs-6">
            累计中奖次数:<span style="color:red;font-size: 14px;">1024</span>
        </div>
        <div class="col-xs-6">
            累计中奖金额:<span style="color:red">512万</span>
        </div>
    </div>
    <!--水平分割线-->
    <hr />

    <!--账户余额-->
    <div class="row">
        <div class="col-xs-12">
            账户余额:<span style="color:red;font-size: 14px;" th:text="${session.user.money}">1.00元</span>
        </div>
    </div>
    <!--水平分割线-->
    <hr />

    <!--我的订单-->
    <div class="row">
        <div class="col-xs-12">
            我的订单
        </div>
    </div>
    <!--水平分割线-->
    <hr />

    <!--基本信息-->
    <div class="row">
        <div class="col-xs-12">
            基本信息
        </div>
    </div>
    <!--水平分割线-->
    <hr />

    <!--设置信息-->
    <div class="row">
        <div class="col-xs-12">
            设置
        </div>
    </div>
    <!--水平分割线-->
    <hr />


    <div style="height: 60px; "></div>

    <div class="main_nav_bottom " id="menuid">
        <nav class="navbar navbar-default navbar-fixed-bottom ">
            <div class="container " align="center ">
                <ul class="nav nav-tabs nav-tabs-justified ">
                    <div class="row " align="center ">
                        <div class="col-md-4 col-sm-4 col-xs-4 " align="center " style="padding-top: 8px; ">
                            <li>
										<span  onclick="location.href='/'">
											<div class="row " style="font-size: 20px; ">
												<span class="glyphicon glyphicon-home " aria-hidden="true "></span>
								</div>
								<div class="row ">首页</div>
								</span>
                            </li>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 " align="center " style="padding-top: 8px; ">
                            <li>
									<span onclick="location.href='/cart/select'">
											<div class="row " style="font-size: 20px; ">
												<span class="glyphicon glyphicon-shopping-cart "
                                                      aria-hidden="true "></span>
							</div>
							<div class="row ">选号</div>
							</span>
                            </li>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 " align="center " style="padding-top: 8px; ">
                            <li>
							<span style="color: red;" >
											<div class="row " style="font-size: 20px; ">
												<span class="glyphicon glyphicon-user " aria-hidden="true "></span>
					</div>
					<div class="row ">我的</div>
					</span>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </nav>
    </div>

    <!--<div th:replace="~{common/menu :: #menuid}"></div>-->

</div>
</body>

</html>